<h2>{{ localize 'Radugen.thanks-for-using' }}</h2>
<a href="https://github.com/StefanWouters">
    <img alt="GitHub followers"
        src="https://img.shields.io/github/followers/StefanWouters?label=Stefan Wouters-Yaowanasap&style=social">
</a>
<a href="https://github.com/EwoudLindemans">
    <img alt="GitHub followers"
        src="https://img.shields.io/github/followers/EwoudLindemans?label=Ewoud Lindemans&style=social">
</a>

<h2>You can support us on patreon</h2>
<a href="https://www.patreon.com/bePatron?u=50065234" data-patreon-widget-type="become-patron-button">Become a Patron!</a>
